<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <h1>It's BattleField</h1>

        <ul>
            <% for(let items=1; items<10; items++) {%>
                
                <li>
                    <%= items %>
                </li>
                
            <%}%>
        </ul>
    </body>
</html>